{
  "all": true,
  "include": ["src/**/*.js"],
  "exclude": ["test/**/*.js"],
  "reporter": ["text", "lcov", "html"],
  "check-coverage": true,
  "branches": 50,
  "functions": 70,
  "lines": 70,
  "statements": 70
}
